@import "tailwindcss";

@font-face {
  font-family: 'Minecraftia';
  src: url('/public/fonts/Minecraftia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.minecraft-text {
  font-family: 'Minecraft', monospace, sans-serif;
}


.club {
  font-family: 'Minecraft', monospace, sans-serif;
}

